<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>Weather App</title>
  </head>
  <body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
	  <a class="navbar-brand">Weather App</a>
	  <form class="form-inline" method="post">
	  	{% csrf_token %}
	  	<!-- {{ form }} -->
	    <input class="form-control mr-sm-2" type="search" name="city" placeholder="City Name" aria-label="Search">
	    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Add City</button>
	  </form>
	</nav>
	<br>
	<div class="container">
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning alert-dismissable" role="alert">
				<button class="close" data-dismiss="alert">
					<small><sup>x</sup></small>
				</button>
	  			{{message}}
			</div>
		{% endfor %}
	{% endif %}

	<!-- <div class="container"> -->
	<center>
		<div class="card bg-light mb-3" style="max-width: 18rem;">
		  <div class="card-header">{{ cur_weather.city }}</div>
		  <div class="card-body">
		    <h5 class="card-title">{{ cur_weather.temperature }}</h5>
		    <p class="card-text">{{ cur_weather.description }}</p>
		  </div>
		</div>
	</center>
	<!-- </div> -->

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<td><b>City Name</b></td>
					<td><b>Temperature</b></td>
					<td colspan="2"><center><b>Description</b></center></td>
				</tr>
			</thead>	
			<tbody>
			{% for city_weather in weather_data %}
				<tr>
					<td>{{ city_weather.city }}</td>
					<td>{{ city_weather.temperature }}</td>    
					<td>{{ city_weather.description }}</td>
					<td><center><a href="{% url 'delete' city_weather.id %}">Delete</a></center></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>